// Main colors
$color-primary: rgb(61, 44, 0);
$color-primary-hex: #3d2c00;
$color-light: rgb(250, 255, 238);
$color-light-hex: #faffee;

// Color usage
$color-header-bg: $color-primary;
$color-footer-bg: $color-primary;
$color-text-light: $color-light;
$color-bg-light: $color-light;
